<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - 2048</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}" />
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
              crossorigin="anonymous">
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main-content">
        {% block menu_title %}{% endblock %}
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class=flashes>
                    {% for category, message in messages %}
                        <div class="message {{ category }}">
                            <h5>{{ message }}</h5>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>