<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - 2048</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}" />#}
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main-content">
        {% block menu_title %}{% endblock %}
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=True) %}
        <div class=flashes>
            {% if messages %}
                    {% for category, message in messages %}
                        <div class="message {{ category }}">
                            <h5>{{ message }}</h5>
                        </div>
                    {% endfor %} 
            {% endif %}
        </div>
        {% endwith %}
    </div>
</body>
</html>