<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} - 2048</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}" />
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main-content">
        {% block menu_title %}{% endblock %}
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class=flashes>
                    {% for message in messages %}
                        {% if "Successfully" in message %}
                            <div id="message-success">
                                <h5>{{ message }}</h5>
                            </div>
                        {% else %}
                            <div id="message-fail">
                                <h5>{{ message }}</h5>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>