<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>2048 - Game</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}" />
</head>

<body>
	<h1>2048</h1>
	<table>
		{% for row in game %}
		<tr>
			{% for element in row %}
			<td>{{ element }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('move_up') }}"><button>UP</button></a>
	<a href="{{ url_for('move_down') }}"><button>DOWN</button></a>
	<a href="{{ url_for('main') }}"><button>Back</button></a>
	<a href="{{ url_for('game') }}"><button>Reset</button></a>
	<a href="{{ url_for('move_left') }}"><button>LEFT</button></a>
	<a href="{{ url_for('move_right') }}"><button>RIGHT</button></a>
</body>
</html>