{% extends 'base.html' %}
	
{% block title %}Game {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='scripts/color_generator.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/timer.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/game.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/chat.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/data_handler.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/hammer.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/mobile.js') }}" defer></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/{}.css'.format(gamemode)) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gameplay.css') }}">
{% endblock %}


{% block content %}
	<div id="mode" data-mode="{{ gamemode }}"
		 data-timer={% if gamemode == 'ranked' %}"0"{% else %}"10"{% endif %}
		 class="">
		 <h3 class="float-right">{{ gamemode.capitalize() }} mode</h3>
		 <h3>Score: <span id="score">0</span></h3>
	</div>
	<div id="game-board" class="col-8 container rounded  mx-auto bg-light p-2">
{#        <div id="startGame" class="text-center"><h3>To start game press 'Start'.</h3></div>#}

        <div class="gameboard text-center container">
                <div class="row">
                    <div class="col-3 border" id='A1'></div>
                    <div class="col-3 border" id='A2'></div>
                    <div class="col-3 border" id='A3'></div>
                    <div class="col-3 border" id='A4'></div>
                    <div class="w-100"></div>
                    <div class="col-3 border" id='B1'></div>
                    <div class="col-3 border" id='B2'></div>
                    <div class="col-3 border" id='B3'></div>
                    <div class="col-3 border" id='B4'></div>
                    <div class="w-100"></div>
                    <div class="col-3 border" id='C1'></div>
                    <div class="col-3 border" id='C2'></div>
                    <div class="col-3 border" id='C3'></div>
                    <div class="col-3 border" id='C4'></div>
                    <div class="w-100"></div>
                    <div class="col-3 border" id='D1'></div>
                    <div class="col-3 border" id='D2'></div>
                    <div class="col-3 border" id='D3'></div>
                    <div class="col-3 border" id='D4'></div>
                </div>

            </div>
	</div>
	<div class="buttons col-9 mx-auto m-1" id="game-buttons">

		<button id="start-button" class="start-btn btn btn-info col-12">Start Game</button>

		<div id="option-buttons" class="text-center container">
			{% if gamemode == 'classic' %}
			<button id="loadBtn" class="game-btn btn btn-secondary">Load</button>
			<button id="saveBtn" class="game-btn btn btn-secondary">Save</button>
			{% endif %}
			<a href="{{ url_for('main') }}"><button class="game-btn btn btn-secondary">Back</button></a>
		</div>

	</div>
	<div id="chat-container" class="card bg-secondary container py-2">

		<div id="chat-title">
			CHAT TITLE
		</div>

		<div id="chat-body">

			<div id="chat-messages" style="overflow-y: auto; word-break: break-all;">
			</div>

			<div id="chat-input">
				<form action="" method="POST">
					<input type="text" id="user-input"/>
					<button id="message-submit">Submit</button>
				</form>
			</div>

		</div>
	</div>
{% endblock %}