{% extends 'base.html' %}
	{% block title %}Main Menu  {% endblock %}

	{% block menu_title %}
	<div class="mx-auto text-center col-3 badge-pill badge-light menu-title p-1"><h1>Main Menu</h1></div>
	{% endblock %}

	{% block content %}
	<div id="menu-content" class="card shadow-lg mx-auto my-2">
		<div class="buttons mx-auto text-center">
            <div class="card-body">
                {% if 'player_name' in session %}
                    {% for mode in gamemodes %}
                        <div class="my-2">
                            <a href="{{ url_for('game', mode=mode) }}">
                                <button class="btn btn-info shadow" mode="{{ mode }}">{{ mode.capitalize() }} Mode</button>
                            </a>
                        </div>
                    {% endfor %}
				    <a href="{{ url_for('logout') }}" class="btn">Logout</a>
		        {% else %}
				<button onclick="dom.insertForm('loginForm')" class="btn btn-info shadow">Login</button>
				<button onclick="dom.insertForm('registerForm')" class="btn btn-info shadow">Register</button>
            </div>
		</div>
		{% endif %}
	</div>	
	{% endblock %}
	