{% extends 'base.html' %}
	{% block title %}Main Menu  {% endblock %}

	{% block menu_title %}
	<div class="mx-auto text-center col-3 badge-pill badge-light"><h1>Main Menu</h1></div>
	{% endblock %}

	{% block content %}
	<div id="menu-content" class="card shadow-lg col-6 mx-auto">
		{% if 'player_name' in session %}
		<div class="buttons mx-auto text-center">
                {% for mode in gamemodes %}
                    <div class="my-2">
                        <a href="{{ url_for('game', mode=mode) }}">
                            <button class="btn btn-info shadow">{{ mode.capitalize() }} Mode</button>
                        </a>
                    </div>
                {% endfor %}
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
		</div>
		{% else %}
		<div class="buttons">
			<ul>
				<li><a onclick="dom.insertForm('loginForm')" class="custom-btn">Login</a></li>
				<li><a onclick="dom.insertForm('registerForm')" class="custom-btn">Register</a></li>
			</ul>
		</div>
		{% endif %}
	</div>	
	{% endblock %}
	