{% extends 'base.html' %}
  {% block title %}Register  {% endblock %}
  
  {% block content %}
  <div class="header"><h5>Register</h5></div>
  <form id="register-form" method="POST">
  
    <label for="username">Player Name</label>
    <input type="text" name="username" id="username" placeholder="Enter User Name" required />

    </br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" required>


    <div id="register-form-buttons">
      <button type="submit" id="form-register-button">Register</button>
      <a href="{{ url_for('main') }}" id="form-back-button">
        <button>Back</button>
      </a>
    </div>
  </form>
  {% endblock %}